@font-face {
    font-family: 'TT Travels';
    src: url('../fonts/TTTravels-ExtraLight.eot');
    src: local('TT Travels ExtraLight'), local('TTTravels-ExtraLight'),
    url('../fonts/TTTravels-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTTravels-ExtraLight.woff') format('woff'),
    url('../fonts/TTTravels-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'TT Travels';
    src: url('../fonts/TTTravels-Light.eot');
    src: local('TT Travels Light'), local('TTTravels-Light'),
    url('../fonts/TTTravels-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTTravels-Light.woff') format('woff'),
    url('../fonts/TTTravels-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Travels';
    src: url('../fonts/TTTravels-Regular.eot');
    src: local('TT Travels Regular'), local('TTTravels-Regular'),
    url('../fonts/TTTravels-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTTravels-Regular.woff') format('woff'),
    url('../fonts/TTTravels-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Travels';
    src: url('../fonts/TTTravels-Medium.eot');
    src: local('TT Travels Medium'), local('TTTravels-Medium'),
    url('../fonts/TTTravels-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTTravels-Medium.woff') format('woff'),
    url('../fonts/TTTravels-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Travels';
    src: url('../fonts/TTTravels-DemiBold.eot');
    src: local('TT Travels DemiBold'), local('TTTravels-DemiBold'),
    url('../fonts/TTTravels-DemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTTravels-DemiBold.woff') format('woff'),
    url('../fonts/TTTravels-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Travels';
    src: url('../fonts/TTTravels-Bold.eot');
    src: local('TT Travels Bold'), local('TTTravels-Bold'),
    url('../fonts/TTTravels-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTTravels-Bold.woff') format('woff'),
    url('../fonts/TTTravels-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Travels';
    src: url('../fonts/TTTravels-ExtraBold.eot');
    src: local('TT Travels ExtraBold'), local('TTTravels-ExtraBold'),
    url('../fonts/TTTravels-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTTravels-ExtraBold.woff') format('woff'),
    url('../fonts/TTTravels-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'TT Travels';
    src: url('../fonts/TTTravels-Black.eot');
    src: local('TT Travels Black'), local('TTTravels-Black'),
    url('../fonts/TTTravels-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTTravels-Black.woff') format('woff'),
    url('../fonts/TTTravels-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

body {
    font-family: "TT Travels", sans-serif;
    font-style: normal;
    font-weight: normal;
}

h1 {
    font-size: 60px;
    line-height: 72px;
    color: #273437;
    margin-bottom: 100px;
    margin-top: 150px;
}

h2 {
    font-size: 36px;
    line-height: 43px;
    color: #273437;
    margin-bottom: 25px;
}

h3 {
    font-size: 22px;
    line-height: 26px;
    color: #273437;
    margin-bottom: 18px;
}

p {
    font-size: 18px;
    line-height: 26px;
    color: #344549;
    margin: 0;
}

.page-wrapper {
    width: 1440px;
    margin: 0 auto;
}

.wrapper {
    width: calc(100% - 120px);
    margin: 0 auto;
}

.relative-wrapper {
    position: relative;
}

.with-bg {
    background: #AFC9CE;
}

header {
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 60px 252px;
    font-weight: bold;
}

.tel {
    font-size: 10px;
}

nav {
    font-size: 10px;
}

a {
    cursor: pointer;
}

nav a {
    margin-right: 25px;
}

nav a:last-child {
    margin-right: 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 51px;
}

.underlined {
    border-bottom: solid 3px #FBE880;
    padding-bottom: 4px;
}

.with-burger {
    display: flex;
    align-items: center;
}

.burger {
    margin-right: 56px;
    margin-top: -30px;
}

.burger-layer:first-child {
    margin-bottom: 13px;
}

.burger-patty, .burger-shadow {
    width: 56px;
    height: 14px;
    border: 3px solid #273437;
}

.burger-patty {
    background: #F8FBFB;
    position: absolute;
    left: 4px;
    top: 5px;
}

.burger-shadow {
    background: #273437;
    z-index: -5;
}

.service-section {
    margin-bottom: 114px;
}

.service-text {
    margin-top: 60px;
    margin-left: 180px;
}

.main-block {
    padding-top: 46px;
    padding-left: 40px;
    padding-right: 106px;
    background: #F8FBFB;
}

.service-block {
    width: 806px;
    height: 208px;
    border: 3px solid #273437;
    box-sizing: border-box;
}

.border-background {
    position: absolute;
    left: -12px;
    top: -15px;
}

.border-blue {
    background: #AFC9CE;
    z-index: -1;
}

.block-behind {
    background: #F8FBFB;
    position: absolute;
    top: 30px;
    left: -33px;
    z-index: -2;
}

.block-behind > div {
    background: #F8FBFB;
}

.border-yellow {
    background: #FBE880;
    z-index: -5;
}

.down {
    position: absolute;
    top: 343px;
    left: 0;
    background-image: url("../images/down.svg");
    background-repeat: no-repeat no-repeat;
    width: 31px;
    height: 41px;
}
