@font-face {
    font-family: 'TT Travels';
    src: url('../fonts/TTTravels-ExtraLight.eot');
    src: local('TT Travels ExtraLight'), local('TTTravels-ExtraLight'),
    url('../fonts/TTTravels-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTTravels-ExtraLight.woff') format('woff'),
    url('../fonts/TTTravels-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'TT Travels';
    src: url('../fonts/TTTravels-Light.eot');
    src: local('TT Travels Light'), local('TTTravels-Light'),
    url('../fonts/TTTravels-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTTravels-Light.woff') format('woff'),
    url('../fonts/TTTravels-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Travels';
    src: url('../fonts/TTTravels-Regular.eot');
    src: local('TT Travels Regular'), local('TTTravels-Regular'),
    url('../fonts/TTTravels-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTTravels-Regular.woff') format('woff'),
    url('../fonts/TTTravels-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Travels';
    src: url('../fonts/TTTravels-Medium.eot');
    src: local('TT Travels Medium'), local('TTTravels-Medium'),
    url('../fonts/TTTravels-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTTravels-Medium.woff') format('woff'),
    url('../fonts/TTTravels-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Travels';
    src: url('../fonts/TTTravels-DemiBold.eot');
    src: local('TT Travels DemiBold'), local('TTTravels-DemiBold'),
    url('../fonts/TTTravels-DemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTTravels-DemiBold.woff') format('woff'),
    url('../fonts/TTTravels-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Travels';
    src: url('../fonts/TTTravels-Bold.eot');
    src: local('TT Travels Bold'), local('TTTravels-Bold'),
    url('../fonts/TTTravels-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTTravels-Bold.woff') format('woff'),
    url('../fonts/TTTravels-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Travels';
    src: url('../fonts/TTTravels-ExtraBold.eot');
    src: local('TT Travels ExtraBold'), local('TTTravels-ExtraBold'),
    url('../fonts/TTTravels-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTTravels-ExtraBold.woff') format('woff'),
    url('../fonts/TTTravels-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'TT Travels';
    src: url('../fonts/TTTravels-Black.eot');
    src: local('TT Travels Black'), local('TTTravels-Black'),
    url('../fonts/TTTravels-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTTravels-Black.woff') format('woff'),
    url('../fonts/TTTravels-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

.page-wrapper {
    font-family: "TT Travels", sans-serif;
    font-style: normal;
    font-weight: normal;
    overflow: hidden;
}

h1 {
    font-size: 60px;
    line-height: 72px;
    color: #273437;
    margin-bottom: 100px;
    margin-top: 150px;
}

h2 {
    font-size: 36px;
    line-height: 43px;
    color: #273437;
    margin-bottom: 25px;
}

h3 {
    font-size: 22px;
    line-height: 26px;
    color: #273437;
    margin-bottom: 18px;
}

p {
    font-size: 18px;
    line-height: 26px;
    color: #344549;
    margin: 0;
}

.wrapper {
    width: calc(100% - 120px);
    margin: 0 auto;
    min-width: 280px;
    max-width: 1280px;
    /*max-width: 1440px;*/
}

.relative-wrapper {
    position: relative;
}

.with-bg-blue {
    background: #AFC9CE;
}

.with-bg-black {
    background: #273437;
    padding-bottom: 145px;
}

.with-bg-black .burger-patty{
    background: #FBE880;
}

.with-bg-black .burger-shadow {
    background: transparent;
    border-color: #FBE880;;
}

.with-bg-black h1 {
    color: #F8FBFB;
}

.with-bg-black .with-burger {
    align-items: baseline;
}

.with-bg-black .with-burger h1 {
    margin-bottom: 100px;
}

.flex-btw {
    display: flex;
    justify-content: space-between;
}

header {
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    align-items: center;
    margin-top: 40px !important;
    margin-bottom: 252px !important;
    font-weight: bold;
}

.tel {
    font-size: 10px;
}

header nav {
    font-size: 10px;
}

.nav-button {
    display: none;
    position: relative;
    cursor: pointer;
}

.square {
    width: 8px;
    height: 8px;
    margin-right: 10px;
}

.square:last-of-type {
    margin-right: 0;
}

.nav-shadow {
    position: absolute;
    display: flex;
    z-index: -2;
    top: -2px;
    left: -2px;
}

.nav-shadow div {
    background: #273437;
}

a {
    cursor: pointer;
}

header nav a {
    margin-right: 25px;
}

nav a:last-child {
    margin: 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 51px;
}

.underlined {
    border-bottom: solid 3px #FBE880;
    padding-bottom: 4px;
}

.underlined:hover {
    color: #FBE880;
}

.with-burger {
    display: flex;
    align-items: center;
}

.burger {
    margin-right: 56px;
}

.service-section .burger {
    margin-top: -30px;
}

.burger-layer:first-child {
    margin-bottom: 13px;
}

.burger-patty, .burger-shadow {
    width: 56px;
    height: 14px;
    border: 3px solid #273437;
}

.burger-patty {
    background: #F8FBFB;
    position: absolute;
    left: 4px;
    top: 5px;
}

.burger-shadow {
    background: #273437;
    z-index: -5;
}

.image-sofa {
    position: absolute;
    top: -35px;
    right: 161px;
}

.image-dumbbell {
    position: absolute;
    top: 188px;
    right: 54px;
}

.service-section {
    margin-bottom: 114px;
}

.with-burger h1 {
    margin-bottom: 150px;
}

.service-text {
    margin-top: 60px;
    margin-left: 166px;
}

.rectangle-block {
    background: #F8FBFB;
    border: 3px solid #273437;
    box-sizing: border-box;
}

.service-section .rectangle-block {
    padding: 46px 106px 32px 40px;
}


@media (min-width: 980px) {
    .service-section .rectangle-block {
        width: 806px;
        height: 208px;
    }
}

@media (min-width: 1480px) {
    .rectangle-block-wide {
        width: 660px;
        height: 490px;
    }

    .rectangle-block-square {
        width: 569px;
        height: 492px;
    }

    .advantages_line1 {
        margin-bottom: 182px;
    }

    .advantages_line1 .absolute-wrapper {
        position: absolute;
        top: -55px;
        left: 620px;
    }

    .advantages_line2 .absolute-wrapper {
        position: absolute;
        top: -77px;
        left: 529px;
    }
}

.advantages_4 {
    margin-top: 30px;
}

.advantages_4 img{
    margin-top: 80px;
    margin-bottom: 10px;
}

.advantages_line1 .rectangle-block-wide, .advantages_line2 .rectangle-block-square {
    padding-left: 50px;
    padding-right: 100px;
    padding-bottom: 60px;
}

.advantages_line1 .rectangle-block-square {
    padding-left: 59px;
    padding-right: 30px;
    padding-bottom: 60px;
}

.advantages_line2 .rectangle-block-wide {
    padding-left: 81px;
    padding-right: 30px;
    padding-bottom: 60px;
}

.advantages_line1 > div:first-of-type, .advantages_line2 > div:first-of-type {
    z-index: 20;
}

.advantages_line1 .border-blue, .advantages_line2 .border-yellow {
    z-index: -20;
}

.advantages_line2 .border-blue, .advantages_line1 .border-yellow {
    z-index: -10;
}

.advantages_line1 .absolute-wrapper, .advantages_line2 .absolute-wrapper  {
    padding: 0;
}

.border-background-top {
    position: absolute;
    left: -12px;
    top: -15px;
}

.border-background-bottom {
    position: absolute;
    left: -12px;
    top: 15px;
}

.border-blue {
    background: #AFC9CE;
    z-index: -1;
}

.block-behind {
    background: #F8FBFB;
    position: absolute;
    top: 30px;
    left: -33px;
    z-index: -2;
}

.block-behind > div {
    background: #F8FBFB;
}

.border-yellow {
    background: #FBE880;
    z-index: -1;
}

.down {
    position: absolute;
    top: 343px;
    left: 0;
    background-image: url("../images/down.svg");
    background-repeat: no-repeat no-repeat;
    width: 31px;
    height: 41px;
}

.text-yellow {
    color: #FBE880;;
}

.mar-section {
    margin-top: 196px;
    height: 296px;
    background: #FBE880;
    border-top: 3px solid #273437;
    border-bottom: 3px solid #273437;
    box-sizing: border-box;
}

.bare-heading div {
    width:100%;
    height: 1px;
}
.wrapper-118 {
    margin-left: 118px;
}

.vacancies {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.vacancy {
    display: inline-flex;
    height: 100px;
    border-left: 5px solid #273437;
    border-top: 5px solid #273437;
    box-sizing: border-box;
    margin-bottom: 60px;
    font-size: 22px;
    line-height: 26px;
    color: #273437;
    font-weight: bold;
}

.vacancy a {
    width: 100%;
    margin-left: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.button-more {
    margin: 81px auto 180px;
    width: 422px !important;
    padding-right: 50px;
}

.button-more > div {
    width: 30px;
    height: 60px;
    background: #FBE880 url("../images/more.svg") no-repeat !important;
    background-position-y: 50% !important;
    background-position-x: 90% !important;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.form {
    display: flex;
    flex-wrap: wrap;
}

.form-bottom {
    display: flex;
}

.placeholder, input, textarea {
    font-size: 22px;
    line-height: 26px;
    background: transparent;
    color: #F8FBFB;
}

.placeholder {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    margin: 12px 0;
    transition: all 0.25s ease;
}

input, textarea {
    width: 100%;
    height: 22px;
    border: 0;
    margin: 12px 0;
    padding: 0;
    display: block;
    box-sizing: border-box;
    outline: none;
}

.input-wrapper {
    width: 100%;
    margin-bottom: 90px;
    display: inline-block;
    position: relative;
    text-align: left;
}

.input-wrapper.focus:before {
    opacity: 0;
}

.input-wrapper.focus:after{
     opacity:1;
}

.input-wrapper:before {
    content: "";
    width: 100%;
    height: 4px;
    display: block;
    position: absolute;
    top: 100%;
    background-color: #C1D6DA;
}

.half-left {
    width: calc(50% - 20px);
    margin-right: 20px;
}

.half-right {
    width: calc(50% - 20px);
    margin-left: 20px;
}

.form .input-wrapper:last-of-type {
    margin-top: 60px;
}

.button {
    width: 490px;
    height: 60px;
    background-color: #FBE880;
    border: 3px solid #FBE880;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.7em;
    text-transform: uppercase;
    color: #273437;
    font-weight: bold;
    align-items: center;
    padding-left: 50px;
    cursor: pointer;
}

.button input, .checkbox input {
    display: none;
}

.checkbox input:checked + span {
    background: #C1D6DA;
}

.checkbox span {
    width: 34px;
    height: 34px;
    border: 3px solid #C1D6DA;
    box-sizing: border-box;
    margin-right: 19px;
    margin-left: 45px;
    display: inline-block;
    vertical-align: middle;
    transition: background 0.2s ease;
    cursor: pointer;
}

.checkbox {
    margin-top: 14px;
}

.checkbox i {
    font-size: 18px;
    line-height: 22px;
    color: #F8FBFB;
}

.arrow-hover-block {
    letter-spacing: 0;
    line-height: 0;
    font-size: 0;
    display: none;
    margin-right: 22px;
}

.underlined:hover {
    color: #FBE880;
}

@media screen and (min-width: 1150px) {
    .arrow-hover:hover .arrow-hover-block {
        display: flex;
    }
}


footer {
    margin-top: 90px !important;
    margin-bottom: 60px !important;
}

footer nav{
    margin-bottom: 107px;
}


footer > span {
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #273437;
    display: block;
    margin-bottom: 13px;
}

footer .input-wrapper .placeholder, footer input {
    font-size: 16px;
    line-height: 23px;
    color: #273437;
}

footer .input-wrapper:before {
    background-color: #273437;;
}

footer form {
    margin-top: 13px;
    display: inline;
    margin-right: 80px;
    position: relative;
}

footer .input-wrapper, footer .half-left {
    margin: 0;
}

footer .button {
    background-color: inherit;
    border: none;
    padding: 0;
    position: absolute;
    width: 54px;
    height: 20px;
    top: 30%;
    right: 16px;
}

.social-net {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    color: #FBE880;
    display: inline-flex;
    margin-bottom: 137px;
}

.social-net div {
    width: 44px;
    height: 44px;
    background: #273437;
    border-radius: 45px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-net a {
    margin-right: 16px;
}

.collar {
    margin-right: 6px
}

.nav-left {
    text-transform: uppercase;
    align-items: center;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    color: #273437;
    font-weight: bold;
}

.nav-left a {
    margin-right: 40px;
}

.nav-right a {
    margin-right: 20px;
}

.nav-right {
    align-items: center;
    font-size: 16px;
    line-height: 23px;
}

.confidential-block {
    display: flex;
    flex-wrap: wrap;
}

.confidential-block span {
    margin-right: 22px
}

@media (max-width: 1479px) {
    .advantages_4 .rectangle-block {
        margin-bottom: 73px;
    }
}

@media (max-width: 1400px) {
    .image-sofa, .image-dumbbell, .burger, .down {
        display: none;
    }
    .wrapper-118 {
        margin-left: 0;
    }

    .service-text {
        margin-left: 46px;
    }
    .advantages_4 {
        margin-left: 12px;
    }

    header nav a {
        display: none;
    }

    .nav-button {
        display: flex;
    }

    .flex-center {
        display: flex;flex-direction: column;align-items: center;
    }
}

@media (max-width: 1300px) {
    footer nav {
        flex-direction: column;
    }
    .nav-left, .nav-right {
        justify-content: flex-start !important;
    }

    .nav-left {
        margin-bottom: 50px;
    }

    .social-net {
        display: flex;
        margin-bottom: 80px;
        margin-top: 40px;
    }

    footer .half-left {
        width: 100%;
    }
}

@media (max-width: 1100px) {
    .form-bottom {
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .checkbox {
        margin-top: 0;
        margin-bottom: 38px;
    }

    .checkbox span{
        margin-left: 0;
    }
}

@media (max-width: 850px) {
    .footer-bottom {
        flex-direction: column;
        justify-content: flex-start;
    }
    .confidential-block {
        margin-bottom: 55px;
    }
    .half-left, .half-right {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    .service-img {
        width: 80%;
    }
}

@media (max-width: 750px) {
    .nav-left, .nav-right {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-left a, .nav-right a {
        margin-bottom: 30px;
    }

    footer nav {
        margin-bottom: 73px;
    }
}

@media (max-width: 640px) {
    header {
        margin-top: 30px !important;
        margin-bottom: 105px !important;
    }
    footer {
        margin-top: 100px !important;
        margin-bottom: 50px !important;
    }

    .wrapper {
        width: calc(100% - 40px);
        margin-right: 20px;
        margin-left: 20px;
    }

    .footer-bottom span.underlined, .tel, .none-mob {
        display: none;
    }

    .nav-left, footer > span {
        font-size: 12px;
        line-height: 14px;
    }

    p, .nav-right, footer .input-wrapper .placeholder, footer input, .confidential-block a {
        font-size: 14px;
        line-height: 20px;
    }

    .confidential-block span {
        font-size: 16px;
        line-height: 23px;
    }

    .with-burger h1{
        margin-bottom: 50px;
    }

    .service-section + section.with-bg-blue h1 {
        margin-bottom: 100px;
    }

    .advantages_4 {
        margin-top: 0;
    }

    h1 {
        font-size: 30px;
        line-height: 36px;
        margin-top: 90px;
        margin-bottom: 50px;
    }
    h2 {
        font-size: 22px;
        line-height: 26px;
    }

    .vacancy {
        margin-bottom: 30px;
        min-height: 70px;
        max-height: max-content;
    }

    .placeholder, input, textarea, .vacancy a {
        font-size: 18px;
        line-height: 22px;
    }

    .button {
        width: 212px;
        height: 43px;
        font-size: 11px;
        line-height: 13px;
        justify-content: center;
        padding: 0;
    }

    .button-more {
        width: 148px !important;
        height: 45px !important;
        margin: 45px auto 120px;
        display: flex;
        justify-content: flex-start;
        padding-left: 35px;
        min-width: fit-content;
        padding-right: 35px;
    }

    .button-more > div {
        height: 45px;
        width: 30px;
        background: #FBE880 url("../images/more_mob.svg") no-repeat !important;
        background-position-y: 50% !important;
        background-position-x: 75% !important;
    }

    .service-text {
        margin-left: 0;
    }

    .service-section .rectangle-block {
        padding: 30px 18px 41px 25px;
    }

    .checkbox span {
        width: 30px;
        height: 30px;
    }
    .checkbox i {
        font-size: 14px;
        line-height: 17px;
    }

    .input-wrapper {
        margin-bottom: 50px;
    }

    .form .input-wrapper:last-of-type {
        margin-top: 0;
    }

    .with-bg-black {
        padding-bottom: 100px;
    }

    .mar-section {
        margin-top: 116px;
        height: 128px;
    }

    .advantages_4 .rectangle-block {
        padding-left: 25px;
        padding-right: 17px;
    }

    .advantages_4 img {
        margin-top: 50px;
        margin-bottom: 10px;
    }

    .rectangle-block img {
        width: 45px;
    }

}

@media (max-width: 427px) {
    .confidential-block span {
        margin-bottom: 20px;
    }
}