html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, option, select,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: 'PF Bulletin Sans Pro';
    src: local('PFBulletinSansPro-Regular'),
    url('../fonts/PFBulletinSansPro-Regular.woff2') format('woff2'),
    url('../fonts/PFBulletinSansPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PF Bulletin Sans Pro';
    src: local('PFBulletinSansPro-Medium'),
    url('../fonts/PFBulletinSansPro-Medium.woff2') format('woff2'),
    url('../fonts/PFBulletinSansPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo';
    /*src: local('Arimo Regular'), local('Arimo-Regular'),*/
    url('../fonts/Arimo-Regular.woff2') format('woff2'),
    url('../fonts/Arimo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kazimir';
    src: url('../fonts/Kazimir-Regular.woff2') format('woff2'),
    url('../fonts/Kazimir-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.page-wrapper {
    /*max-width: 1200px;*/
    position: relative;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

nav {
    display: flex;
    justify-content: center;
}

.size500 {
    width: 500px;
}

.header {
    margin-top: 14px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 94px;
}

.wrapper {
    position: relative;
    margin: 0 0;
}

.logo {
    position: absolute;
}

h1 {
    font-family: Kazimir, serif;

    color: #567d78;
    font-size: 34px;
    /*line-height: 60px;*/
    letter-spacing: 0.15em;
    font-weight: normal;
    margin: 0 0 52px;
}

.block-about h1{
    text-transform: uppercase;
}

.block-slider h1{
  margin-left: 75px;
}

.section {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.block-about{
    margin-left: 173px;
    margin-bottom: 125px;
}

.block-guarantee {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.block-15 {
    margin-right: 75px;
    margin-left: 75px;
    margin-bottom: 33px;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.handle {
    position: absolute;
}

.blockquote_wrapper {
    border-bottom: #c0a160 solid 1px;
    border-top: #c0a160 solid 1px;
    padding: 39px 0 33px 23px;
    width: 130px;
    margin-top: 120px;
    margin-bottom: 70px;
}

.blockquote {
    font-family: Kazimir, serif;
    line-height: 40px;
    color: #c0a160;
    font-size: 26px;
    margin: 0;
    width: 430px;
    letter-spacing: 0.01em;
    font-weight: normal;
}



h2 {
    margin-top: 60px;
    font-family: PF Bulletin Sans Pro, sans-serif;
    font-weight: 500;
    color: #00937f;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 20px;
}

.bottom95 {
    margin-bottom: 95px;
}


.number5 {
    position: absolute;
    top: -50px;
    /*left: 350px;*/
    right: 727px;
    margin-right: 140px;
}

p {
    font-size: 14px;
    font-family: Arimo, serif;
    line-height: 22px;
}

.side {
    /*width: 25px;*/
    /*height: 100%;*/
    /*min-height: 580px;*/
    /*display: block;*/
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 26px;*/
    /*font-family: PF Bulletin Sans Pro, sans-serif;*/
    /*font-weight: normal;*/


}
.side {
    color: #c1a15e;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    position: fixed;
    left: 0;
    bottom: 50%;
    font-family: PF Bulletin Sans Pro, sans-serif;
    font-weight: normal;
    transform: translate3d(0, 0, 0) rotate(-90deg);
}

.side:before {
    display: block;
    width:270px;
    content: '';
    position: fixed;
    border-bottom: 1px solid #c1a15e;
    top:30%;
    right: 110px;
}

.big{
    font-family: Kazimir, serif;
    font-size: 100px;
    line-height: 100px;
    color: #f1ede8;
    width: 650px;
}

.block-15 .border{
    width: 195px;
    height: 196px;
    padding-top: 33px;
}

.dealer {
    display: flex;
    margin-bottom: 135px;
}

.dealer .border {
    width: 160px;
    height: 200px;
    margin-right: 225px;
    justify-content: flex-end;
    padding-bottom: 27px;
    margin-top: -80px;
}

.border{
    border: #d3bd8e solid 1px;
    color: #567d78;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.wide_range{
    margin-bottom: 60px;
    width: 350px;
}

.guarantee{
    width: 350px;
    margin-bottom: 123px;
}
.handle{
    position: absolute;
    top: 28px;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.width100 {
    width: 100%;
}

.width330 {
    width: 330px;
}

.width500 {
    width: 500px;
}

.top75 {
    margin-top: 75px;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.bullet_big{
    font-family: Kazimir, sans-serif;
    font-weight: 400;
    font-size: 60px;
    color: #567d78;
}

.bullet_small {
    font-family: Arimo, serif;
    font-size: 14px;
    line-height: 22px;
    color: #567d78;
}

.decor {
    position: absolute;
    /*top: 61px;*/
    top: -116px;
    /*right: 63px;*/
    left: 627px;

}
.door {
    position: absolute;
    /*top: 0;*/
    /*left: 0;*/
    /*top: 248px;*/
    top: 71px;
    /*right: 304px;*/
    left: 480px;
    z-index: 5;
}
