html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, option, select,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: 'PF Bulletin Sans Pro';
    src: local('PFBulletinSansPro-Regular'),
    url('../fonts/PFBulletinSansPro-Regular.woff2') format('woff2'),
    url('../fonts/PFBulletinSansPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PF Bulletin Sans Pro';
    src: local('PFBulletinSansPro-Medium'),
    url('../fonts/PFBulletinSansPro-Medium.woff2') format('woff2'),
    url('../fonts/PFBulletinSansPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo';
    /*src: local('Arimo Regular'), local('Arimo-Regular'),*/
    url('../fonts/Arimo-Regular.woff2') format('woff2'),
    url('../fonts/Arimo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo-Bold.woff2') format('woff2'),
    url('../fonts/Arimo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Kazimir';
    src: url('../fonts/Kazimir-Regular.woff2') format('woff2'),
    url('../fonts/Kazimir-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    overflow-x: hidden;
    min-width: 300px;
}

.relative-wrapper {
    position: relative;
}

nav {
    display: flex;
    justify-content: center;
}

nav img {
    cursor: pointer;
}

.header {
    margin-top: 14px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 94px;
}

.wrapper {
    width: calc(100% - 40px);
    margin: 0 auto;
}

.wrapper_2 {
    margin-left: 20px;
    margin-right: 20px;
}

.logo {
    position: absolute;
}

.burger {
    border: #ebe8e4 1px solid;
    border-radius: 45px;
    width: 66px;
    height: 66px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.burger::after {
    content: '';
    display: block;
    background: transparent;
    border: 1px solid #ebe8e4;
    width: 48px;
    height: 48px;
    top: 9px;
    left: 9px;
    position: absolute;
    box-sizing: border-box;
    border-radius: 45px;
}

.burger-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66px;
    height: 66px;
}

.burger-inner::before {
    content: '';
    display: block;
    background: transparent;
    border: 1px solid #ebe8e4;
    width: 48px;
    height: 48px;
    position: relative;
    box-sizing: border-box;
    transform: rotate(45deg);
    z-index: 5;
}

.burger-inner:hover::before {
    animation: rhombus 0.4s ease;
}

.burger-inner:hover::after {
    animation: square 0.4s ease;
}

@keyframes rhombus {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(135deg);
    }
}

@keyframes square {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-90deg);
    }
}

.burger-inner::after {
    content: '';
    display: block;
    background: transparent;
    border: 1px solid #ebe8e4;
    width: 48px;
    height: 48px;
    position: absolute;
    box-sizing: border-box;
    z-index: 5;
}

.burger-inner > span {
    display: block;
    background-color: #ba8e48;
    position: absolute;
    width: 26px;
    height: 2px;
}

.burger-inner > span:nth-child(1) {
    margin-top: -9px;
}
.burger-inner > span:nth-child(3) {
    margin-top: 9px;
}

.burger-inner > span::before, .burger-inner > span::after {
    content: "";
    width: 1px;
    height: 4px;
    display: block;
    position: absolute;
    top: -1px;
    background: #ba8e48;
}

.burger-inner > span::after {
    right: 0;
}

h1 {
    font-family: Kazimir, serif;
    color: #567d78;
    font-size: 34px;
    /*line-height: 60px;*/
    margin: 0 0 52px;
}

.block-about h1{
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-weight: normal;
}


.block-slider h1{
    margin-left: 75px;
    letter-spacing: 0.1em;
}

.block-about{
    /*padding-left: 173px;*/
    margin-bottom: 125px;
}

.block-guarantee {
    margin-bottom: 100px;
}

.block-15 {
    margin-bottom: 93px;
    display: flex;
    justify-content: space-around;
}

.handle {
    position: absolute;
}

.blockquote_wrapper {
    border-bottom: #c0a160 solid 1px;
    border-top: #c0a160 solid 1px;
    padding: 39px 0 33px 23px;
    width: 130px;
    margin-top: 120px;
    margin-bottom: 70px;
}

.blockquote {
    font-family: Kazimir, serif;
    line-height: 40px;
    color: #c0a160;
    font-size: 26px;
    margin: 0;
    width: 430px;
    letter-spacing: 0.01em;
    font-weight: normal;
}

h2 {
    margin-top: 60px;
    font-family: PF Bulletin Sans Pro, sans-serif;
    font-weight: 500;
    color: #00937f;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 20px;
    letter-spacing: 0.25em;
}

.bottom95 {
    margin-bottom: 95px;
}

.number5 {
    position: absolute;
    top: -130px;
    margin-right: 140px;
}

p {
    font-size: 14px;
    font-family: Arimo, serif;
    line-height: 22px;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
    color: #decfbe;
}

.side {
    color: #c1a15e;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    position: fixed;
    left: 0;
    bottom: 50%;
    font-family: PF Bulletin Sans Pro, sans-serif;
    font-weight: normal;
    transform: translate3d(0, 0, 0) rotate(-90deg);
}

.side:before {
    display: block;
    width:270px;
    content: '';
    position: fixed;
    border-bottom: 1px solid #c1a15e;
    top:30%;
    right: 110px;
}

.big {
    font-family: Kazimir, serif;
    font-size: 100px;
    line-height: 100px;
    color: #f1ede8;
    width: 600px;
}

.block-15 .border {
    width: 195px;
    height: 196px;
    padding-top: 33px;
}

.dealer {
    display: flex;
    margin-bottom: 220px;
}

.dealer a {
    bottom: 0;
    position: absolute;
    left: 32px;
}

.link {
    font-family: PF Bulletin Sans Pro, sans-serif;
    font-size: 12px;
    color: #789793;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.link-underline {
    text-decoration: #decfbe underline;
}

.dealer .border {
    width: 160px;
    height: 200px;
    margin-right: 225px;
    justify-content: flex-end;
    padding-bottom: 27px;
    margin-top: -80px;
}

.border {
    border: #d3bd8e solid 1px;
    color: #567d78;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.wide_range {
    margin-bottom: 60px;
}

.guarantee {
    width: 350px;
    margin-bottom: 123px;
}
.handle {
    position: absolute;
    top: 28px;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.width100 {
    width: 100%;
}

.top75 {
    margin-top: 75px;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.bullet_big{
    font-family: Kazimir, sans-serif;
    font-weight: 400;
    font-size: 60px;
    color: #567d78;
}

.bullet_small {
    font-family: Arimo, serif;
    font-size: 14px;
    line-height: 22px;
    color: #567d78;
}

.decor {
    position: absolute;
    top: -760px;
    left: 800px;
}

.door {
    position: absolute;
    top: -571px;
    left: 653px;
    z-index: 5;
}

.trading-house {
    margin-bottom: 162px;
}

.slider-wrapper {
    display: flex;
}

.slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 600px;
}

.leader-plus .slider {
    width: 390px;
    margin-top: 80px;
}

.leader-plus .slider-wrapper {
    width: 390px;
}

.slide{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: Arimo, serif;
    font-size: 12px;
    line-height: 20px;
    color: #6d7977;
    text-align: center;
    flex-wrap: wrap;
    width: min-content;
}

.image {
    width: 180px;
    height: 180px;
}

.name {
    font-family: Arimo, serif;
    font-weight: bold;
    font-size: 14px;
    margin-top: 20px;
}

.navigation {
    width: 100%;
    margin-top: 145px;
}

.navigation::before {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    border-top: 2px solid #dfcfbf;
    margin-top: 4px;
    z-index: 10;
}

.navigation::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    border-bottom: 2px solid #dfcfbf;
    margin-top: -5px;
}

span.left, span.right {
    position: absolute;
    z-index: 2;
    color: #dfcfbf;
    font-family: PF Bulletin Sans Pro, sans-serif;
    font-size: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    line-height: 16px;
}

span.left {
    top: 45%;
    left: 42%;
}
span.left::before {
    display: block;
    width: 75px;
    content: '';
    position: absolute;
    border-bottom: 1px solid #dfcfbf;
    top: 40%;
    left: -100px;
}

span.right {
    top: 45%;
    right: 41%;
}

span.right::after {
    display: block;
    width: 75px;
    content: '';
    position: absolute;
    border-bottom: 1px solid #dfcfbf;
    top: 40%;
    right: -100px;
}

.next-button {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-top: 60px;
    bottom: 0;
    background: white;
    cursor: pointer;
    margin-left: 15px;
}

.navigation-wrapper{
    height: 150px;
    background: url("../images/nav.png");
    display: flex;
}

.div-left {
    width: 50%;
    height: 150px;
}

.div-right {
    width: 50%;
    height: 150px;
}

.div-left a, .div-right a {
    display: block;
    height: 100%;
}

.navigation-wrapper::before {
    content: "";
    /*width: 100%;*/
    display: block;
    position: absolute;
    left: 50%;
    height: 94%;
    border-left: 2px solid #dfcfbf;
    margin-top: 4px;
}

.next-button::before {
    content: "";
    display: block;
    background: transparent;
    border: 1px solid #cdad7b;
    width: 50px;
    height: 50px;
    position: relative;
    top: 5px;
    left: 5px;
    box-sizing: border-box;
    transform: rotate(45deg);
}

.next-button:hover::before {
    animation: next 0.4s ease;
}

@keyframes next {
    0% {
        transform: rotate(-45deg);
    }

    100% {
        transform: rotate(135deg);
    }
}


.next-button::after {
    content: "";
    display: block;
    background: transparent;
    border: 2px solid #cdad7b;
    width: 7px;
    height: 7px;
    position: relative;
    bottom: 24px;
    left: 25px;
    border-bottom: none;
    border-left: none;
    box-sizing: border-box;
    transform: rotate(45deg);
}

.striped-bg {
    position: absolute;
    left: 360px;
    top: -60px;
    z-index: -10;
}

.trading-house-up {
    position: absolute;
    right:0;
    top: -93px;
}

.trading-house-bottom {
    position: absolute;
    right:0;
    top: 120px;
}

.leader-plus {
    display: flex;
    margin-bottom: 174px;
}

.content {
    width: 440px;
    margin-left: 150px;
}

.production {
    position: absolute;
    top: -54px;
    left: 0;
    font-family: Kazimir-Regular, serif;
    font-size: 100px;
    line-height: 100px;
    color: #f5f2ed;
    z-index: -5;
}

.footer {
    color: #789793;
    font-family: Arimo, serif;
    font-size: 12px;
    line-height: 30px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 75px;
}

.footer-piece {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.red-collar {
    font-family: PF Bulletin Sans Pro, sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.striped-bg_640_bottom, .striped-bg_640_top, .striped-bg_320_bottom, .striped-bg_320_top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.single-pic {
    margin-left: 225px;
    width: 170px;
}

@media (max-width: 1350px) {
    .decor {
        left: 700px;
    }

    .door {
        left: 553px;
    }

    span.right{
        right: 37%;
    }

    span.left {
        left: 37%;
    }
}


@media (max-width: 1200px) {
    .side {
        display: none;
    }

    .block-about {
        padding: 0;
    }

    .block-15 {
        flex-direction: column;
    }

    .big {
        font-size: 85px;
        margin-left: 20px;
    }

    .wide_range_wrapper {
        margin: 0 auto;
    }

    .flex-between {
        flex-direction: column;
        height: 250px;
    }

    .guarantee {
        margin-bottom: 97px;
    }

    .block-guarantee {
        display: flex;
        justify-content: flex-end;
    }

    .number5 {
        top: 50px;
        left: 100px;
    }
    .block-slider h1 {
        margin-left: 0;
    }
    .footer {
        padding: 0 40px;
    }
    .footer-piece p {
        font-size: 12px;
    }
}

@media (max-width: 1110px) {
    .trading-house-wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 39px;
    }

    .trading-house-up, .trading-house-bottom {
        position: static;
    }

    .striped-bg_640_bottom{
        display: block;
        position: absolute;
        top: 430px;
        z-index: -5;
    }

    .navigation {
        margin-top: 145px;
    }

    .door {
        top: 130px;
        left: 172px;
    }

    .decor {
        top: -57px;
        left: 319px;
    }

    .block-about {
        margin-bottom: 800px;
    }
}

@media (max-width: 1050px) {
    .blockquote_wrapper {
        margin-top: 59px;
    }

    .number5 {
        left: 0;
    }

    .dealer .border {
        margin-right: 104px;
    }

    .dealer a {
        top: 200px;
    }
    .content {
        margin-left: 100px;
    }
}

@media (max-width: 800px) {
    .number5 {
        width: 40%;
    }
    .guarantee {
        width: 260px;
        margin-right: 40px;
    }

    .image {
        width: 150px;
        height: 150px;
    }
    .slider {
        width: 500px;
    }

    .trading-house-up, .trading-house-bottom {
        width: 48%;
    }

    .single-pic {
        width: 167px;
    }

    .production {
        font-size: 86px;
    }

    .leader-plus  .slider-wrapper {
        width: 314px;
    }

    .leader-plus .slider {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 135px;
    }
    .leader-plus .slide {
        margin-bottom: 39px;
    }

    .content {
        margin-left: 0;
    }

    .dealer {
        margin-bottom: 110px;
    }

    .leader-plus {
        margin-bottom: 80px;
    }

    .big {
        width: 400px;
        font-size: 60px;
        line-height: 60px;
    }

    .striped-bg {
        display: none;
    }

    .striped-bg_640_top {
        display: block;
        position: absolute;
        top: 0;
        left: 300px;
        z-index: -5;
    }

    .next-button {
        margin-top: 50px;
    }

    span.right{
        right: 30%;
    }

    span.left {
        left: 30%;
    }
}

@media (max-width: 639px)  {
    nav {
        justify-content: flex-end;
    }
    .burger::after, .burger-inner::before, .burger-inner::after, .number5 {
        display: none;
    }

    .burger {
        border: none;
    }

    .content {
        width: 370px;
    }

    h1 {
        font-size: 25px;
        line-height: 40px;
    }

    .blockquote_wrapper {
        padding-left: 0;
    }

    .blockquote {
        font-size: 21px;
        line-height: 35px;
        width: 330px;
    }

    .big {
        font-size: 44px;
        line-height: 47px;
        margin-left: 0;
    }

    h2 {
        margin-top: 48px;
    }

    .wide_range {
        margin-bottom: 49px;
    }

    .wide_range_wrapper{
        margin-left: 20px;
        margin-right: 20px;
    }

    /*.width330, .width500, .wide_range, .guarantee, .slider, .content, .slider-wrapper, .leader-plus .slider-wrapper, .leader-plus .slider {*/
    /*    width: inherit;*/
    /*}*/

    .block-guarantee {
        margin-bottom: 57px;
        justify-content: center;
    }

    .guarantee {
        margin-bottom: 68px;
        margin-right: 0;
        width: 210px;
    }

    .bullet_big {
        font-size: 58px;
    }

    .dealer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 85px;
    }

    .dealer > div {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .dealer .border {
        margin-right: 0;
    }

    .dealer a {
        position: static;
        margin-top: 40px;
    }

    .top75 {
        margin-top: 60px;
    }

    .slider {
        width: 150px;
        flex-wrap: nowrap;
        overflow: hidden;
    }

    .next-button {
        margin-left: 29px;
    }

    .production {
        font-size: 40px;
        left: -25px;
    }

    .leader-plus {
        flex-direction: column-reverse;
    }

    .slider-wrapper {
        margin-left: auto;
        margin-right: auto;
        width: 250px;
    }

    .leader-plus .slider {
        margin-top: 40px;
    }

    .footer {
        height: 120px;
    }

    .footer-piece {
        flex-direction: column;
    }

    .block-about {
        margin-bottom: 500px;
    }

    .door {
        width: 150px;
        left: 25%;
    }

    .decor {
        width: 200px;
        left: 50%;
        top: -30px;
    }

    .striped-bg_640_top, .striped-bg_640_bottom {
        display: none;
    }

    .striped-bg_320_top {
        display: block;
        top: 70px;
        left: 70px;
        z-index: -2;
    }

    .striped-bg_320_bottom {
        display: block;
        top: 380px;
        left: -50px;
        z-index: -2;
    }

    .leader-plus .slider-wrapper {
        width: 160px;
    }

    .single-pic {
        margin-left: 65px;
    }

    .navigation-wrapper{
        flex-direction: column;
        z-index: 0;
    }

    .div-left, .div-right {
        height: 50%;
        width: 100%;
    }

    .div-left a, .div-right a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navigation-wrapper::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 50%;
        width: 100%;
        border-bottom: 2px solid #dfcfbf;
        border-left: none;
        margin-top: 0;
        z-index: -1;
    }

    span.right{
        position: static;
    }

    span.right::after, span.left::before {
        display: none;
    }

    span.left {
        position: static;
    }
}

@media (max-width: 440px){
    .blockquote {
        width: 240px;
    }

    .block-about h1 {
        font-size: 26px;
    }

    .big {
        font-size: 40px;
    }

    .next-button {
        margin-left: 20px;
    }

    .content {
        width: 210px;
    }

}

@media (min-width: 1320px) {
    .width500 {
        width: 500px;
    }
}

@media (min-width: 1200px) {
    .wrapper_2 {
        width: 1050px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 640px) {
    .block-guarantee .width500 {
        margin-left: 500px;
    }

    .wide_range {
        width: 335px;
    }
}

@media (min-width: 400px) {
    .width330 {
        width: 330px;
    }
}